body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    gap: 200px;
}

.left h3 {
    align-items: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.hotdog-picture{
    width: 300px;
}

.hotdog-picture:hover {
    opacity: 0.9;
    cursor: pointer;
}