 body {
    align-items: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.hotdog-picture{
    width: 300px;
}

.hotdbody {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #2C2C2C;
    color: white;
    user-select: none;
}

.left h3 {og-picture:hover {
    opacity: 0.9;
    cursor: pointer;
}

.hotdog-picture:active {
    opacity: 0.8;
    transform: scale(1.02)
}

.upgrade {
    display: flex;
    align-items: center;
    width: 330px;
    height: 60px;
    border: 4px solid white;
}

.upgrade-img {
    width: 55px;
}

.cost-img {
    width: 20px;
}

.main {
    display: flex;
    gap: 200px;
}